/*Dark theme colors*/
:root.darkTheme {
	--first-color: #081b29;
    --second-color: #112e42;
    --text-color: #333;
    --main-color: #00abf0;
    --box-shadow: #07263b;
    --link-icon: #333333;
}

/*Light theme colors*/
:root {
    --first-color: #081b29;
    --second-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
    --box-shadow: #07263b;
    --link-icon: #333333;
    --languageList-background: #ffffff;
    --languageList-border: #f8f8f8;
    --countries-color: #000;
}

/* MEDIA QUERIES */
@media (max-width: 1400px) {
    .home {
        padding: 5% 9% 0 9%;
    }
}

@media (max-width: 1300px) {
    .home-content h1 {
        font-size: 5.3rem;
    }
}

@media (max-width: 1275px) {
    .home-content h1 {
        font-size: 5rem;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 1075px) {
    .home-content h1 {
        font-size: 4.8rem;
    }
}

@media (max-width: 1025px) {
    .home-content h1 {
        font-size: 4.7rem;
    }
}

@media (max-width: 990px) {
    .header {
        padding: 2rem 4%;
        background-color: #00abf0;
    }

    /* .heading {
        margin-top: 0;
    } */

    section {
        padding: 6rem 4% 2rem;
    }

    .home {
        padding: 10% 4%;
    }

    .footer {
        padding: 2rem 4%;
    }
}

@media (max-width: 890px) {
    .home-content h1 {
        font-size: 4.5rem;
    }
}

@media (max-width: 865px) {
    .home-content h1 {
        font-size: 4.3rem;
    }
}

@media (max-width: 840px) {
    .home-content h1 {
        font-size: 4rem;
    }
}

@media (max-width: 820px) {
    .home-content h1 {
        font-size: 3.9rem;
    }
}

@media (max-width: 780px) {
    .home {
        text-align: center;
        flex-direction: column-reverse;
    }

    .home .image {
        margin-top: 6rem;
    }

    .btn-box {
        margin: auto;
    }
}

/* Hamburger Menu */
@media (max-width:768px) {
    .header {
        background-color: var(--second-color);
    }

    #menu-icon {
        display: block;
    }

    #darkModeToggle {
        position: absolute;
        right: 8rem;
        font-size: 2.5rem;
        color: var(--text-color);
        margin-bottom: 0.1rem;
    }

    .social-media {
        margin: 5rem auto 0 auto;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background-color: var(--second-color);
        border-top: .1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
        display: none;
    }

    .navbar.active {
        display: block;
        border: none;
        border-radius: 0;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }

    .navbar a.active {
        color: var(--main-color);
    }

    .navbar a::before {
        display: none;
    }

    .home {
        /*23rem padding bottom*/
        padding: 0 3%;
        justify-content: center;
        text-align: center;
    }

    .home-content h1 {
        font-size: 5rem;
        /* margin-top: 8rem; */
    }

    .home-content h3 {
        font-size: 2.5rem;
    }

    .home .image {
        margin-top: 12rem;
    }

    .home .image img {
        margin-left: 0;
        margin-bottom: 2rem;
    }

    .home-content .social-media a {
        margin: 2.5rem .75rem 3rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about-content {
        margin: 1rem 4rem;
    }

    .about .about-Img {
        margin-top: 2rem;
    }

    .about .about-Img img {
        margin: 0 auto;
        width: 40vw;
        border: none;
    }
}

@media screen and (max-width: 700px) {
    /* Skills */
    .skill-main {
        grid-template-columns: 1fr;
    }

    /* Languages */
    .timeline {
        margin: 7rem auto;
    }

    .timeline::after {
        left: 2rem;
    }

    .container {
        width: 100%;
        padding-left: 7rem;
        padding-right: 1.5rem;
    }

    .text-box {
        font-size: 1.4rem;
    }

    .text-box small {
        margin-bottom: 0.6rem;
    }

    .right-container {
        left: 0;
    }

    .left-container img, .right-container img {
        left: 0rem;
    }

    .left-container-arrow, .right-container-arrow {
        border-right: 1rem solid #fff;
        border-left: 0;
        left: -0.9rem;
    } 
}

@media (max-width: 520px) {
    html {
        font-size: 50%;
    }

    .home-content h1 {
        display: flex;
        flex-direction: column;
    }

    .social-media {
        width: 120px;
    }

    .social-media a {
        width: 38px;
        height: 38px;
    }
}

@media (max-width: 462px) {
    .home-content h1 {
        font-size: 3.8rem;
    }

    .education {
        padding: 10rem 4% 5rem 5%;
    }

    .contact form  .input-box .input-field {
        width: 100%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        margin-top: 2rem;
    }
}

@media (max-width: 371px) {
    .home {
        justify-content: center;
    }

    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content h1 {
        font-size: 5rem;
    }
}