/*Dark theme colors*/
:root.darkTheme {
    --background-color: #1a1b2c;
    --headerBackground-color: #4F5CAD;
    --menuBackground-color: #3D467E;
    --borderMenu-color: #3D467E;
    --textBis-color: #EFC0FA;

	--first-color: #081b29;
    --second-color: #112e42;
    --text-color: #333;
    --main-color: #00abf0;
    --box-shadow: #07263b;
    --link-icon: #333333;
}

/*Light theme colors*/
:root {
    --background-color: #F0F0FF;
    --headerBackground-color: #99AAFF;
    --menuBackground-color: #C2CEFF;
    --borderMenu-color: #C2CEFF;
    --textBis-color: #1D1D66;

    --first-color: #081b29;
    --second-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
    --box-shadow: #07263b;
    --link-icon: #333333;
    --languageList-background: #ffffff;
    --languageList-border: #f8f8f8;
    --countries-color: #000;
}

.projects {
    padding-bottom: 10rem;
    /* background-color: ?; */
}

.projects-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    place-items: center;
    gap: 3rem;
    row-gap: 5rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--borderMenu-color);
    border: 2px solid var(--countries-color);
    border-radius: 3rem;
    gap: 2rem;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px var(--countries-color);
    transition: 0.3s ease;
}

.project-card:hover {
    box-shadow: 0 0 25px var(--countries-color),
                0 0 50px var(--countries-color);
    transform: scale(1.02);
}

.project-card img {
    max-width: 300px;
    border-radius: 2rem;
    object-fit: cover;
}

.project-card h3 {
    font-size: 3rem;
}

.project-card p {
    font-size: 1.6rem;
}

.projectBtn {
    display: inline-block;
    padding: 1rem 3rem;
    background-color: var(--box-shadow);
    box-shadow: 0 0 25px var(--box-shadow);
    border-radius: 3rem;
    font-size: 1.8rem;
    color: #000;
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.projectBtn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--box-shadow),
                0 0 50px var(--box-shadow);
}





/* Old version */



/* .projectsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.projectContainer {
    display: flex;
    position: relative;
    border-radius: 2.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.projectContainer img {
    width: 100%;
    transition: .5s ease;
}

.projectContainer:hover img {
    /* Zoom on the image when hovering */
    transform: scale(1.2);
}

.projectInfos {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .5s ease;
}

.projectContainer:hover .projectInfos {
    opacity: 1;
}

.projectInfos h4 {
    font-size: 3rem;
}

.projectInfos p {
    font-size: 1.5rem;
    margin: 3rem 0 2.5rem;
}

.projectInfos a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.projectInfos a i {
    font-size: 2rem;
    color: var(--link-icon);
} */