/*Dark theme colors*/
:root.darkTheme {
    --background-color: #1a1b2c;
    --headerBackground-color: #4F5CAD;
    --menuBackground-color: #3D467E;
    --borderMenu-color: #3D467E;
    --textBis-color: #EFC0FA;

	--first-color: #081b29;
    --second-color: #112e42;
    --text-color: #333;
    --main-color: #00abf0;
    --box-shadow: #07263b;
    --link-icon: #333333;
}

/*Light theme colors*/
:root {
    --background-color: #F0F0FF;
    --headerBackground-color: #99AAFF;
    --menuBackground-color: #C2CEFF;
    --borderMenu-color: #C2CEFF;
    --textBis-color: #1D1D66;

    --first-color: #081b29;
    --second-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
    --box-shadow: #07263b;
    --link-icon: #333333;
    --languageList-background: #ffffff;
    --languageList-border: #f8f8f8;
    --countries-color: #000;
}


/* Skills section */

.main-text {
    width: 100%;
    text-align: center;
    margin-bottom: 6rem;
    color: var(--text-color);
}

.main-text h2 {
    font-weight: 700;
    font-size: 5rem;
    margin-top: 1.5rem;
}

.main-text span {
    color: #fdfdfd;
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.skills {
    background: var(--menuBackground-color);
}

.skill-main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 50px;
}

.skill-bar {
    margin-bottom: 2.5rem;
}

.skill-main h3 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-align: center;
}

/* LEFT SIDE */

.skill-left .skill-bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.skill-left .skill-bar .bar {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: var(--box-shadow);
    border-radius: 25px;
    margin-top: 10px;
}

.skill-bar .bar span {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: var(--countries-color);
    border-radius: 25px;
    box-shadow: var(--countries-color);
}

.skill-bar .bar .csharp {
    width: 55%;
    animation: csharp 2s;
}

.skill-bar .bar .html {
    width: 72%;
    animation: html 3s;
}

.skill-bar .bar .css {
    width: 90%;
    animation: css 4s;
}

.skill-bar .bar .js {
    width: 36%;
    animation: js 5s;
}


/* RIGHT SIDE */

.professional {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box {
    position: relative;
    margin: 10px 0;
    flex: 1 1 15rem;
}

.box .text {
    text-align: center;
    color: var(--text-color);
    font-size: 1rem;
}

.box .text span {
    font: 400;
    letter-spacing: 1px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box .text small {
    display: block;
    font-weight: 600;
}

.circle {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle .points {
    width: 2px;
    height: 10px;
    background-color: black; /* Same color in the keyframes*/
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--i)*var(--rot))) translateY(-45px);
}

.points.marked {
    animation: glow 0.04s linear forwards;
    animation-delay: calc(var(--i) * 0.05s);
}

/* LANGUAGES */

.timeline {
    position: relative;
    max-width: 100rem;
    margin: 8rem auto;
}

.container {
    padding: 0.1rem 4rem;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

.container:nth-child(1) {
    animation-delay: 0s;
}

.container:nth-child(2) {
    animation-delay: 1.1s;
}

.container:nth-child(3) {
    animation-delay: 2.2s;
}

.container:nth-child(4) {
    animation-delay: 3.3s;
}

.text-box {
    margin: 1.4rem 0;
    padding: 2rem 2.4rem;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 1.5rem;
}

.left-container {
    left: 0;
}

.right-container {
    left: 50%;
}

.container img {
    position: absolute;
    width: 4rem;
    border-radius: 50%;
    right: -1.9rem;
    top: 2.5rem;
    z-index: 10;
}

.right-container img {
    left: -2rem;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 0.5rem;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -0.3rem;
    z-index: -1;
    animation: moveline 6s linear forwards; /* Check the keyframes */
}

.text-box h2 {
    font-weight: 600;
}

.text-box small {
    display: inline-block;
    margin-bottom: 1rem;
}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 2.2rem;
    z-index: 1;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-left: 1rem solid #fff;
    right: -0.9rem;
}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 2.2rem;
    z-index: 1;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-right: 1rem solid #fff;
    left: -0.9rem;
}



/* KEYFRAMES */

@keyframes csharp {
    0% {
        width: 0%;
    }
    100% {
        width: 55%;
    }
}

@keyframes html {
    0% {
        width: 0%;
    }
    100% {
        width: 72%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@keyframes js {
    0% {
        width: 0%;
    }
    100% {
        width: 36%;
    }
}

@keyframes glow {
    0% {
        background: black;
        box-shadow: none;
    }
    100% {
        background: white;
        box-shadow: #3d57ff;
    }
}

@keyframes moveline {
    0% {
        height: 0;
    }
    100% {
        height: 100;
    }
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);    
    }
    100% {
        opacity: 1;
        transform: translateY(0px); 
    }
}