@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/*Dark theme colors*/
:root.darkTheme {
    --background-color: #1a1b2c;
    --headerBackground-color: #4F5CAD;
    --menuBackground-color: #3D467E;
    --borderMenu-color: #3D467E;
    --textBis-color: #EFC0FA;

	--first-color: #081b29;
    --second-color: #112e42;
    --text-color: #333;
    --main-color: #00abf0;
    --box-shadow: #07263b;
    --link-icon: #333333;
}

/*Light theme colors*/
:root {
    --background-color: #F0F0FF;
    --headerBackground-color: #99AAFF;
    --menuBackground-color: #C2CEFF;
    --borderMenu-color: #C2CEFF;
    --textBis-color: #1D1D66;

    --first-color: #081b29;
    --second-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
    --box-shadow: #07263b;
    --link-icon: #333333;
    --languageList-background: #ffffff;
    --languageList-border: #f8f8f8;
    --countries-color: #000;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*border & padding of the element added*/
    text-decoration: none;
    outline: none; /*Border of a rectangle*/
    scroll-behavior: smooth;
    font-family: 'Merriweather', serif;
}

html {
    font-size: 62%;
    overflow-x: hidden;   
}

body {
    background: var(--background-color);
    color: var(--textBis-color);
}

section {
    min-height: 70vh; /*1% of block's height*/
    padding: 2rem 9%;
    /*padding: 10rem 9% 2rem;*/ /*Haut Horizontal Bas*/
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%; /*root em*/
    background-color: var(--headerBackground-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 100; /* Put the element above everything */
}

header.sticky {
    background-color: var(--first-color);
    transition: 0.5s;
    box-shadow: 0 6px 2px -2px var(--box-shadow);
}

footer {
    /* position: fixed; */
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 10%;
    background-color: var(--first-color);
}

footer p {
    font-size: 1.3rem;
}

.right-icons {
    display: flex;
    align-items: center;
    gap: 2em;
}

/* Menu */
.dropdown-submenu {
    position: relative;
}
  
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

/* --------------------------------------- */

.heading {
    font-size: 5rem;
    margin-bottom: 5rem;
    margin-top: 8rem;
    text-align: center;
}

span {
    color: var(--main-color);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar {
    /* flex-grow: 2; */
    /* border-radius: 25% 10%; */
    background-color: var(--menuBackground-color);
    border: solid var(--borderMenu-color) 10px;
    border-radius: 10px;
    max-width: fit-content;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    /* margin-left: 3.5rem; */
    margin: 0 2rem;
    transition: .3s;
}

.navbar a:nth-child(0),
.navbar a:nth-child(4) {
    border-radius: 15% 0 0 15%;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}